body{
    background-color: #083b4c;
}

header{
    color: white;
}

header h1{
    font-size: 3.75rem;
}

.container{
    max-width: 68.75rem;
    margin-left: auto;
    margin-right: auto;
}

.box{
    width: 5.625rem;
    height: 5.625rem;
    margin: .625rem;
    text-align: center;
    line-height: 5.625rem;
    background-color: #1389b2;
}

.fizz{
    background-color: #0cd6a1;
}

.buzz{
    background-color: #ffd166;
}

.fizzbuzz{
 background-color: #f0466f;
}
